<!DOCTYPE html>
<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyMove{%block title%}{%endblock title%}</title>
    <link rel="stylesheet" href="/static/css/base_css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <link rel="stylesheet" href="/static/css/home_css/message.css">
    {%block link%} {%endblock link%}
</head>
{%endblock head%}
<body>

    <header>
        <h2 class="logo">EasyMove</h2>
        <nav class="navigation">

            {%if page == "index" %}
              <button class="btnLogin-popup" onclick="redirectToLoginPage()">Login</button>

            {%elif page == "dashboard" %}
              <a href="/bikestation">Station</a>
              <a href="#">About Us</a>

            {%elif page == "admin_dashboard" %}
            <a href="bikestation">Manage Station</a>
            <a href="view_users">View Users</a>
            <a href="#">About Us</a>

  
              <!-- <a href="station">View Station</a>
              <a href="#" class="dropbtn">Manage Station</a>
              <a href="#">View Users</a>
              <a href="#">Contact</a>
            </div> -->

            {%elif page == "bikestation" %}
              {%if user.user_type == "Admin"%}
                <a href="update_station">Update Station</a>
                <a href="insert_station">Insert Station</a>
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
                <a href="ride">Ride</a>
              {%endif%}
              <a href="#">About Us</a>

            {%elif page == "payment" %}

              <!-- {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
              <a href="/bikestation">Station</a>
              <a href="#">Contact</a> -->

            {%elif page == "ride" %}
              {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
            <a href="/bikestation">Station</a>

            {%else%}
              {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
              <a href="#">Contact</a>
            {% endif %}
        </nav>

        <!-- Pop up message for success or error -->

        {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
              <div id="errorMessage" class="hidden">
                  <p>{{message}}</p>
              </div>
              <script src="/static/js/home_js/message.js"></script>
              {% endif %}

              {% if message.tags == 'success' %}
              <div id="successMessage" class="hidden">
                <p>{{message}}</p>
            </div>
            <script src="/static/js/home_js/message.js"></script>
            {% endif %}
          {% endfor %}
        {% endif %}


        <!-- Except index or home.html page it will show for all the pages -->
        {%if page != "index" and page != "login" and page != "register"%}
        <div class="profile-dropdown">
            <div onclick="toggle()" class="profile-dropdown-btn">
              {%if user.gender == 'male'%}
              <div class="male-profile-img">
                <i class="fa-solid fa-circle"></i>
              </div>
              {%else%}
              <div class="female-profile-img">
                <i class="fa-solid fa-circle"></i>
              </div>
              {%endif%}
    
              <span>{{user.first_name}}
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
    
            <ul class="profile-dropdown-list">
              <li class="profile-dropdown-list-item">
                <a href="view_profile">
                  <i class="fa-regular fa-user"></i>
                  View Profile
                </a>
              </li>
    
              <li class="profile-dropdown-list-item">
                <a href="edit_profile">
                  <i class="fa-regular fa-edit"></i>
                  Edit Profile
                </a>
              </li>
              {%if user.user_type != "Admin"%}
              <li class="profile-dropdown-list-item">
                <a href="rewards">
                  <i class="fa-regular fa-coins"></i>
                  Rewards
                </a>
              </li>
              {%endif%}
    
    
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-solid fa-sliders"></i>
                  Settings
                </a>
              </li>
    
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-regular fa-circle-question"></i>
                  Help & Support
                </a>
              </li>
              <hr />
    
              <li class="profile-dropdown-list-item">
                <a href="logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Log out
                </a>
              </li>
            </ul>
          </div>
          {%endif%}


    </header>
    <div class="overlay"></div>

    {%block body%}{%endblock body%}

    <script>
      function redirectToLoginPage() {
          window.location.href = "/login";
      }
  </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/Base_js/scripts.js"></script>


</body>
</html>