{% extends 'home_html/base.html' %}
{% block title %}Ride{% endblock title %}
{% block link %}

{% endblock link %}

{% block body %}
<div class="login-box">
    <h2>Ride Confirmation</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="first_box">
            <label for="start_destination">Start Destination:</label>
            <select name="start_destination" id="start_destination" required>
                <option value="">Select Start Destination</option>
                {% for station in stations %}
                <option value="{{ station.Station_Name }}">{{ station.Station_Name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="second_box">
            <label for="end_destination">End Destination:</label>
            <select name="end_destination" id="end_destination" required>
                <option value="">Select Start Destination</option>
                {% for station in stations %}
                <option value="{{ station.Station_Name }}">{{ station.Station_Name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="SUBMIT">
    </form>
</div>

{% endblock body %}