{% extends 'home_html/base.html' %}
{% block title %}Ride{% endblock title %}
{% block link %}
<link rel="stylesheet" href="/static/css/ride/ride.css">
{% endblock link %}

{% block body %}


<div class="station-box">
    <h2>Ride Confirmation</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="input-box">
            <label for="start_destination">Start Destination:</label>
            <select name="start_destination" id="start_destination" required>
                <option value="">Select Start Destination</option>
                {% for station in stations %}
                <option value="{{ station.Station_Name }}">{{ station.Station_Name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-box">
            <label for="end_destination">End Destination:</label>
            <select name="end_destination" id="end_destination" required>
                <option value="">Select Start Destination</option>
                {% for station in stations %}
                <option value="{{ station.Station_Name }}">{{ station.Station_Name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="btn_submit">
            
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!-- Submit -->
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>

{% endblock body %}


