<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bungee+Inline&family=Chivo+Mono:wght@300;500&family=Comfortaa:wght@700&family=Fira+Sans:wght@200&family=Monofett&family=Raleway:wght@300&family=Sono:wght@200;600&family=Sonsie+One&family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.ibb.co/nnLmmqM/505-5055502-simple-location-map-pin-icon3-red-free-vector-removebg-preview.png" type="image/x-icon">
    <link href="/static/css/edit_profile_css/edit.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="/static/css/base_css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <link rel="stylesheet" href="/static/css/home_css/message.css">



<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Edit Profile</title>
</head>
<body>



    <header>
        <h2 class="logo">EasyMove</h2>
        <nav class="navigation">

            {%if page == "index" %}
              <button class="btnLogin-popup" onclick="redirectToLoginPage()">Login</button>

            {%elif page == "dashboard" %}
              <a href="/bikestation">Station</a>
              <a href="#">About Us</a>

            {%elif page == "admin_dashboard" %}
            <a href="bikestation">Manage Station</a>
            <a href="view_users">View Users</a>
            <a href="#">About Us</a>

  
              <!-- <a href="station">View Station</a>
              <a href="#" class="dropbtn">Manage Station</a>
              <a href="#">View Users</a>
              <a href="#">Contact</a>
            </div> -->

            {%elif page == "bikestation" %}
              {%if user.user_type == "Admin"%}
                <a href="update_station">Update Station</a>
                <a href="insert_station">Insert Station</a>
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
                <a href="ride">Ride</a>
              {%endif%}
              <a href="#">About Us</a>

            {%elif page == "payment" %}

              <!-- {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
              <a href="/bikestation">Station</a>
              <a href="#">Contact</a> -->

            {%elif page == "ride" %}
              {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
            <a href="/bikestation">Station</a>

            {%else%}
              {%if user.user_type == "Admin"%}
                <a href="admin_dashboard">Dashboard</a>
              {%else%}
                <a href="dashboard">Dashboard</a>
              {%endif%}
              <a href="#">Contact</a>
            {% endif %}
        </nav>

        <!-- Pop up message for success or error -->

        {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
              <div id="errorMessage" class="hidden">
                  <p>{{message}}</p>
              </div>
              <script src="/static/js/home_js/message.js"></script>
              {% endif %}

              {% if message.tags == 'success' %}
              <div id="successMessage" class="hidden">
                <p>{{message}}</p>
            </div>
            <script src="/static/js/home_js/message.js"></script>
            {% endif %}
          {% endfor %}
        {% endif %}


        <!-- Except index or home.html page it will show for all the pages -->
        {%if page != "index" and page != "login" and page != "register"%}
        <div class="profile-dropdown">
            <div onclick="toggle()" class="profile-dropdown-btn">
              {%if user.gender == 'male'%}
              <div class="male-profile-img">
                <i class="fa-solid fa-circle"></i>
              </div>
              {%else%}
              <div class="female-profile-img">
                <i class="fa-solid fa-circle"></i>
              </div>
              {%endif%}
    
              <span>{{user.first_name}}
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
    
            <ul class="profile-dropdown-list">
              <li class="profile-dropdown-list-item">
                <a href="view_profile">
                  <i class="fa-regular fa-user"></i>
                  View Profile
                </a>
              </li>
    
              <li class="profile-dropdown-list-item">
                <a href="edit_profile">
                  <i class="fa-regular fa-edit"></i>
                  Edit Profile
                </a>
              </li>
              {%if user.user_type != "Admin"%}
              <li class="profile-dropdown-list-item">
                <a href="rewards">
                  <i class="fa-regular fa-coins"></i>
                  Rewards
                </a>
              </li>
              {%endif%}
    
    
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-solid fa-sliders"></i>
                  Settings
                </a>
              </li>
    
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-regular fa-circle-question"></i>
                  Help & Support
                </a>
              </li>
              <hr />
    
              <li class="profile-dropdown-list-item">
                <a href="logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Log out
                </a>
              </li>
            </ul>
          </div>
          {%endif%}


    </header>

    
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
    <div class="mainD">
      
      <form class="main" method="POST">
        {%csrf_token%}

        <div class="left">
            <div>
                <p class="pleft">ID<br><input type="text" value="{{user.id}}" id="id"/></p>
                <p class="pleft">Name<br><input type="text" name="name" value="{{user.first_name}}" id="name"/></p>
                
                <p class="pleft">NID<br><input type="text" name="nid" value="{{user.nid}}" id="nid"/></p>
                
                <p class="pleft">Email<br><input type="text" name="email" value="{{user.email}}" id="email"/></p>
                
                <p class="pleft">Address<br><input type="text" name="address" value="{{user.address}}" id="address"/></p>
                
                <p class="pleft">Joining Date<br><input type="text" name="date_joined" value="{{user.date_joined}}" id="joining_date"/></p>
                
            </div>
        </div>
        <div class="right">
            <div>
                {%if user.user_type == "Admin"%}
                <p class="pright">Staff<br><input type="text" name="admin" value="Yes" id="staff"/></p>
                <p class="pright">Rider<br><input type="text" name="rider" value="No" id="rider"/></p>
                {%else%}
                <p class="pright">Staff<br><input type="text" name="admin" value="No" id="staff"/></p>
                <p class="pright">Rider<br><input type="text" name="rider" value="Yes" id="rider"/></p>
                {%endif%}
                
                <p class="pright">Gender<br><input type="text" value="{{user.gender}}" id="gender"/></p>
                
            </div>
        </div>
        <button type="submit" class="lin">Submit</button>
    </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/Base_js/scripts.js"></script>

    </body>
</html>