{%extends 'home_html/base.html'%}
{%block title%}rewards{%endblock title%}
{%block link%}
<link rel="stylesheet" href="/static/css/dashboard_css/style.css">
{%endblock link%}

{%block body%}


    <main class="table">
        <section class="table_header">
            <h1>Hello {{user.first_name}}! Your Ride History</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Total Points</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{user_points}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>


{%endblock body%}


