{% extends 'home_html/base.html' %}

{%block title %} delete Station {%endblock title%}

{%block link%}
<link rel="stylesheet" href="/static/css/admin_css/delete.css">
{%endblock link%}

{%block body%}

<div class="confirmation-box">
    <p>Are you sure want to delete {{station.Station_Name}}?</p>
    <div class="button-container">
        <a href="/update_station" class="cancel-btn">Cancel</a>
        <form method="POST">
            {% csrf_token %}
            <div class="btn_submit">
                <input type="submit" value="Confirm">
            </div>
        </form>
    </div>
</div>


{%endblock body%}