{% extends 'home_html/base.html' %}

{%block title %} insert Station {%endblock title%}

{%block link%}
<link rel="stylesheet" href="/static/css/admin_css/insert.css">
{%endblock link%}

{%block body%}
<div class="insert_box">
    <h2>Insert Station Data</h2>
    <form method="POST" action="insert_station">
        {%csrf_token%}
        <div class="input-box">
            <input type="text" name="station_name" required="" />
            <label>Station Name</label>
        </div>

        <div class="input-box">
            <input type="text" name="num_of_bikes" required="" />
            <label>Number of Bikes</label>
        </div>

        <div class="input-box">
            <input type="text" name="status" required="" />
            <label>Station Status</label>
        </div>

        <div class="btn_submit">
            
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!-- Submit -->
            <input type="submit" value="Insert">
        </div>

        <div class="box-bottom">
            <span>View Station?</span>
            <a href="bikestation" class="insert_station">click here</a>
        </div>
    </form>
</div>
{%endblock body%}