@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-height: 400px;
  height: 100%;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(35, 36, 36, 0.15);
  overflow: auto;
  background: rgba(142, 141, 141, 0.5);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  border-radius: 30px;
}

.container .title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 190px;

}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 120px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color:#52257e ;
  font-weight: 600;
  font-size: 1rem;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f89c9c;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.gender-details{
  width: 290px;
}
form .gender-details .gender-title {
  font-size: 1rem;
  font-weight: 500;
  color: #52257e ;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;

}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}


/* custom scroll bar */

.container::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.container::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #004;
  visibility: hidden;
}

.container:hover::-webkit-scrollbar-thumb{
  visibility: visible;
  
}

form .others_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .others_info .input-box{
  width: 290px;
}


form .others_info .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f89c9c;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .others_info .gender-details .gender{
  color: #322828;
}

form .others_info .gender-details .category {
  background: #fff;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f89c9c;
  border-bottom-width: 2px;
  transition: all 0.3s ease;

}

form .others_info .gender-details .category .label{
  display: flex; 
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

form .others_info .employee_type{
  max-width: 300px;
  width: 90%;
}

form .others_info .employee_type label{
  color: #52257e;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 15px;
}

form .others_info .employee_type select{
  height: 45px;
  width: 100%;
  margin-top: 12px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f89c9c;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}



::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

form .others_info .input-box span.details{
  color: #52257e;
  font-size: 1rem;
}


.box-bottom{
  margin-top: 10px;
  margin-bottom: -6px;
  display: flex;
  justify-content: center;
}

.box-bottom span{
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
}

.box-bottom .register{
  color: rgb(10, 10, 86);
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.box-bottom .register:hover{
  color: rgb(99, 194, 220);
}