

.heading {
     backdrop-filter: blur(1px);
     color: #fff;
     display: flex;
     align-items: center;
     height: 30vh;
     text-align: center;
     justify-content: space-between;
     margin-left: 100px;
 
 }
 
 
 .heading .display-2{
    margin-bottom: 230px;
    font-weight: 600;
    font-size: 4em;
 }