{%extends 'home_html/base.html'%}

{%block title %}Dashboard{%endblock title%}
{%block link%}
<link rel="stylesheet" href="/static/css/dashboard_css/style.css">
{%endblock link%}

{%block body%}

<main class="table">
    <section class="table_header">
        <h1>Hello {{user.first_name}}! Your Ride History</h1>
    </section>
    <section class="table_body">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Ride Id</th>
                    <th>Pay_id</th>
                    <th>Initial Location</th>
                    <th>Destination</th>
                    <th>Total time</th>
                    <th>Ride Date</th>
                    <th>Cost/min</th>
                    <th>Total Amount</th>
                    <th>Points</th>
                </tr>
            </thead>

            <tbody>

                {% for ride in rides %}
                <tr>
                    <td>{{ ride.user.id }}</td>
                    <td>{{ ride.ride_id }}</td>
                    <td>{{ ride.payment_info.payment_id }}</td>
                    <td>{{ ride.station_name }}</td>
                    <td>{{ ride.destination }}</td>
                    <td>{{ ride.total_time }}</td>
                    <td>{{ ride.payment_info.date }}</td>
                    <td>{{ ride.payment_info.cost_per_min }}</td>
                    <td>{{ ride.payment_info.total_amount }}</td>
                    <td>{{ ride.payment_info.rewards.Points }}</td>
                </tr>
                {% endfor %}
                


            </tbody>
        </table>
    </section>
</main>


{%endblock body%}